.hub-head {
    margin-top: 2%;
    margin-left: 20%;
    margin-bottom: 2%;
    height: 100px;
    width: 300%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.hub-pic{
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.text-head{
    display: flex;
    flex-direction: column;   
    align-items: flex-start;    
    text-align: left;           
}

.name {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.textH{
    font-size: 17px;
    font-weight: bold;
    color: black;
    margin-top: 10px; 
}

.textH1{
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
    color: #505045;
}

.hub-b {
    background-color: transparent;
    color: #505045;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
    height: 100px;
    width: 100px;
}

.hub-body{
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    margin-top: 10%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    background-color: white;
    border-radius: 10px;  
    height: 300px;
    width: 300%;
    flex-direction: column;  
}

.user-data{
    height:100px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.account-data{
    height:100px;
    display: flex;
    justify-content: flex-start;
    gap: 25px;
}

.cards{
    height:100px;
    display: flex;
    justify-content: flex-start;
}

.user-data img{
    height: 100px;
}

.account-data img{
    height: 80px;
    margin-left: 15px;
}

.cards img{
    height: 100px;
}

.buttonP {
    margin-left: auto;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0 20px;
    color: #333;
}

.buttonP:hover {
    color: #000;
}


