body{
    background-color: #EAEAE3;
    margin:0;
    height: 100vh;
    
}
div{
    background-color: #E3DAC9;
    width: 930px;
    height: 580px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    justify-content: start; 
    align-items: normal;
}
form{
    margin-left: 20px;
}
p{
    border-radius: 20px;
}
input{
    height: 40px;;
    width: 90%;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    margin-bottom: 20px;
}
.text-fw{
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 28px;
}
label{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

input[type="submit"]{
    
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
}