<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Billetera</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contenedor">
        <% if @error_menssage %>
        <p style="color:red"><% @error_menssage %></p>
        <% end %>
        <form action="/login" method="post">
            <h1 class="text-fw">Bienvenido!</h1>
            <br>
            <label for="name">Ingrese su nomebre: </label>
            <br>
            <input type="text" id="name" name="name" placeholder="Nombre" required>
            <br>
            <label for="password">Ingrese su contraseña</label>
            <br>
            <input type="password" id="password" name="password" required>
            <br>
            <br>
            <a href="www.hla.com">Olvido su contraseña?</a>
            <br>
            <a href="/registro">No tienes cuenta todavia? Registrate!</a>
            <br>
            <br>
            <input type="submit" value="Iniciar Sesion">
        </form>
    </div>
</body>
</html>