<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Billetera</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-container">
     <% if @error_message %>
        <p style="color: red;"><% @error_message %></p>
        <% end %>
        <div class="logo">
            <img src="/media/logo.png" alt="Logo Rupay">
        </div>
        <div class="form-container">
        <form action="/login" method="post">
            <label for="email">Correo Electrónico</label>
            <input type="email" id="email" name="email" placeholder="Correo Electrónico" required>

            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" placeholder="Contraseña" required>

            <div class="button-container">
                <button type="submit" class="btn-login">Ingresar</button>
                <button type="button" class="btn-register" onclick="location.href='/register'">Crear Cuenta</button>
            </div>
            <div class="links">
                <a href="/recuperar">Olvidaste tu contraseña?</a>
            </div>
        </form>
        </div>
    </div>
</body>
</html>