<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No disponible</title>
    <link rel="stylesheet" href="/css/notYet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="container">
    <h1>
        <span style="display: block;">No disponible</span>
        <span style="display: block;">¡Estamos trabajando en ello!</span>
    </h1>
    <br>
    <button class="transfer-btn" onclick="location.href='/main_menu'">Volver al menu</button>
    </div>
    <img src="/media/mascota-working.png" alt="Mascota" class="mascota">
</body>
</html>