<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NombreBilletera</title>
    <link rel="stylesheet" type="text/css" href="/css/registro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contenedor">
        <% if @error_message %>
        <p style="color: red;"><% @error_message %></p>
        <% end %>
        <form action="/registro" method="post">
            <h1 class="text-fw">Bienvenido nuevo usuario!</h1>
            <br>
            <label for="mail">Ingrese su mail:</label>
            <br>
            <input type="email" name="email" id="email" placeholder="Mail" required>
            <br>
            <label for="name">Ingrese su nombre:</label>
            <br>
            <input type="text" id="name" name="name" placeholder="Nombre" required>
            <br>
            <label for="password">Ingrese su contraseña:</label>
            <br>
            <input type="password" name="password" id="password" placeholder="Contraseña" required>
            <br>
            <label for="password">Ingrese su fecha de nacimiento:</label>
            <br>
            <input type="datetime" name="fecha-nacimiento" id="fecha-nacimiento" required>
            <br>
            <input type="submit" value="Registrate">
        </form>
    </div>
</body>
</html>