<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Ruleta</title>
  <link rel="stylesheet" type="text/css" href="/css/roulette.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body>
  <input type="hidden" name="premio_id" id="premio_id_input">
  <div class="compsoul-body">
    <label type="submit" class="compsoul-roulette-button" id="compsoul-roullete-checkbox" for="compsoul-roulette-checkbox">Strat</label>
    <div class="compsoul-roulette">
        <ul class="roulette-list">
        <li class="roulette-item" data-premio-id="1">Premio 1</li>
        <li class="roulette-item" data-premio-id="2">Premio 2</li>
        <li class="roulette-item" data-premio-id="3">Premio 3</li>
        <li class="roulette-item" data-premio-id="4">Premio 4</li>
        <li class="roulette-item" data-premio-id="5">Premio 5</li>
        <li class="roulette-item" data-premio-id="6">Premio 6</li>
        <li class="roulette-item" data-premio-id="0">NADA</li>
        <li class="roulette-item" data-premio-id="7">Premio 7</li>
        <li class="roulette-item" data-premio-id="8">Premio 8</li>
        <li class="roulette-item" data-premio-id="9">Premio 9</li>
        <li class="roulette-item" data-premio-id="10">Premio 10</li>
        </ul>
    </div>  
</div>

    <!-- Formulario que se envía al backend -->
     <form id="roulette-form" action="/roulette" method="POST">
     <label type="submit" class="compsoul-roulette-button" id="compsoul-roullete-checkbox" for="compsoul-roulette-checkbox">
     <input type="hidden" name="premio_id" id="premio_id_input">
     <button type="submit" class="start-button">Start</button>
    </label>
     </form>


    <!-- Mensaje de error si no hay saldo suficiente -->
    <% if @error_message %>
      <div class="error-message"><%= @error_message %></div>
    <% end %>
  </div>
</body>
<script>
  document.querySelector('.start-button').addEventListener('click', function(event) {
    event.preventDefault();

    const items = document.querySelectorAll('.roulette-item');
    const randomIndex = Math.floor(Math.random() * items.length);
    const selectedItem = items[randomIndex];
    const premioId = selectedItem.dataset.premioId;


    // Cargar y enviar el premio al backend
    document.getElementById('premio_id_input').value = premioId;
    document.getElementById('roulette-form').submit();
  });
</script>
</html>
