<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transferencia Fallida</title>
    <link rel="stylesheet" href="/css/transfer_success.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="container">
    <h1>
        <span style="display: block;">Transacción</span>
        <span style="display: block;">completada</span>
    </h1>
    <br>
    <button class="transfer-btn" onclick="location.href='/main_menu'">Descargar comprobante y volver al menu</button>
    </div>
    <img src="/media/icon-success.png" alt="Success" class="icon">
    <img src="/media/mascota-ref2.png" alt="Mascota" class="mascota">
</body>
</html>